* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000720;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.container {
    display: flex;
    /*flex-direction: column;
    align-items: center;*/
    /*width: 90%;*/
    max-width: 1200px;
    padding: 10rem;
    padding-top: 11rem;
    
    /*color: #959595;*/
    width: 100%;
    
    
    
}



.login-form {
    
    padding: 40px;
    border-radius: 10px;
    text-align:left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}
.login-form h1{
    color: #9a8dec;
}
.login-form h2{
    font-size: 50px;
}
.login-form h1,
.login-form h2 {
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password {
    /*color: #a3a3a3;*/
    text-decoration: none;
    color: #9a8dec;
}

.login-btn {
    background-color: #ffffff;
    color: #0d0d2b;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.register-link {
    margin-top: 20px;
}

.illustration {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    
}

.illustration img {
    width: 500px;
    height: auto;
    position: sticky;
    
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-form,
    .illustration {
        width: 100%;
    }
}
