@font-face {
    font-family: "Moon-walk";
    src: url("assets/moon-walk.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    background-color: #000720;
    user-select: none;
    height: 100vh;
}

.sticky-go-up-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}

.sticky-go-up-btn i {
    font-size: 35px;
    color: #fff;
    border-radius: 7px;
    margin: 1rem;
    padding: 8px;
    height: 3.3rem;
    background-color: #2e275e98;
    cursor: pointer;
}

.navbar-wrapper {
    z-index: 1000;
    align-self: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 7.5rem;
}

.navbar-container {
    backdrop-filter: blur(12px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.navigations {
    display: flex;
    gap: 2rem;
}

.navigations a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.navigations a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000720;
    border-radius: 10px;
}

.register-button button {
    background-color: #ffffff;
    color: #000000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hamburger menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.dropdown-menu {
    display: none;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
}

.dropdown-menu a {
    display: block;
    margin: 1rem 0;
    color: #000;
    text-align: left;
    margin-left: 2rem;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    background-color: none;
    width: fit-content;
}

.dropdown-menu a:hover {
    background-color: #000720;
    color: #fff;
    border-radius: 5px;
}

.contents-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

@media (max-width: 768px) {
    .navbar-wrapper {
        padding: 2.5rem 3.5rem;
    }

    .navigations {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .navbar-container {
        justify-content: space-between;
    }

    .register-button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .dropdown-menu.show {
        display: block;
        max-height: 20rem;
    }
}


.zairza-logo img {
    height: 30px;
}

.zairza-logo {
    cursor: pointer;
}

.register-button button {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    width: 7rem;
    height: 2.3rem;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

.register-button button:hover {
    opacity: 0.6;
}




.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 10rem 0;
    margin: auto;
    gap: 3rem;
}

.login-head {
    font-size: 37px;
    position: relative;
    top: -40px;
}

.login-moon {
    font-size: 65px;
    color: #fff;
    position: relative;
    top: -40px;
}

.textarea-small-right,
.textarea-small-left {
    width: 100%;
    margin: 0.5rem 0rem;
}

.textarea {
    padding: 0;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;

}

input {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    background-color: #1a1635;
    padding: 1rem 1.5rem;
    color: #959595;
    border-radius: 5px;
    border: none;
    outline: none;
}



.login-form {
    padding: 40px;
    border-radius: 10px;
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 0;
}


.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password {
    text-decoration: none;
    color: #9a8dec;
}

.login-btn {
    background-color: #ffffff;
    color: #0d0d2b;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.register-link {
    margin-top: 20px;
}

.illustration {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;

}

.illustration img {
    height: 500px;
}

.back-create-navs {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.back-create-navs button {
    cursor: pointer;
    font-size: 15px;
    padding: 0.5rem 1.5rem;
    color: #959595;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* Responsive Design */
@media (max-width: 800px) {

    .container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .illustration img {
        height: 400px;
    }

    .login-head {
        font-size: 30px;
    }

    form {
        width: 100%;
    }

    .login-moon {
        font-size: 55px;
    }

    .textarea {
        width: 100%;
    }

    .textarea input {
        width: 100%;
        margin: 0;
    }

    .forgot-pass {
        width: 100%;
        text-align: end;
    }

    .back-create-navs {
        width: 100%;
        justify-content: space-between;
    }

}



.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9A8DEC;
    flex-wrap: wrap;
    padding: 1.8rem 0.5rem;
    margin-top: 1rem;
}

.footer-wrapper a {
    color: #fff;
    font-weight: 600;
}

.footer-wrapper .footer-skills {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
    width: 47%;
    color: #fff;
    font-weight: 500;
}

.footer-wrapper .footer-skills .footer-desc-ending {
    opacity: 0.6;
    margin-bottom: 2rem;
}

.footer-wrapper img {
    height: 45px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

@media (max-width : 452px) {
    img {
        max-height: 80vw;
        /* MOHAN: DO NOT CHANGE THIS , IT's CRUICIAL  */
        /* SURYA: Okay */
    }

    .navbar-wrapper {
        padding: 2rem 1rem;
    }

    #explore-domains-wrapper {
        padding: 7.5rem 1rem;
    }

    .badges-img img {
        height: 170px;
    }

    .footer-skills {
        width: 90%;
    }

    .footer-desc-ending {
        width: 86vw;
    }

}

@media (max-width : 768px) {
    .footer-wrapper .footer-skills {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    .footer-wrapper {
        width: 100%;
    }
}