@font-face {
    font-family: "Moon-walk";
    src: url("assets/moon-walk.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    background-color: #000720;
    user-select: none;
    height: 100vh;
}

.sticky-go-up-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}

.sticky-go-up-btn i {
    font-size: 35px;
    color: #fff;
    border-radius: 7px;
    margin: 1rem;
    padding: 8px;
    height: 3.3rem;
    background-color: #2e275e98;
    cursor: pointer;
}

.navbar-wrapper {
    z-index: 1000;
    align-self: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 7.5rem;
}

.navbar-container {
    backdrop-filter: blur(12px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.navigations {
    display: flex;
    gap: 2rem;
}

.navigations a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.navigations a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000720;
    border-radius: 10px;
}

.register-button button {
    background-color: #ffffff;
    color: #000000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hamburger menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.dropdown-menu {
    display: none;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
}

.dropdown-menu a {
    display: block;
    margin: 1rem 0;
    color: #000;
    text-align: left;
    margin-left: 2rem;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    background-color: none;
    width: fit-content;
}

.dropdown-menu a:hover {
    background-color: #000720;
    color: #fff;
    border-radius: 5px;
}

.contents-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

@media (max-width: 768px) {
    .navbar-wrapper {
        padding: 2.5rem 3.5rem;
    }

    .navigations {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .navbar-container {
        justify-content: space-between;
    }

    .register-button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .dropdown-menu.show {
        display: block;
        max-height: 20rem;
    }
}

.zairza-logo img {
    height: 30px;
}

.zairza-logo {
    cursor: pointer;
}

.register-button button {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    width: 7rem;
    height: 2.3rem;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

.register-button button:hover {
    opacity: 0.6;
}













.sprint-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.join-sprint {
    font-size: 35px;
    font-weight: 500;
    line-height: 0.7;
}

.sprint-moon {
    font-size: 65px;
    color: #fff;
}

.sprint-right img {
    position: sticky;
    top: 180px;
    height: 500px;
}

.input {
    width: 100%;
}

.input input,
.input select {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    background-color: #1a1635;
    padding: 1rem 1.5rem;
    color: #959595;
    border-radius: 5px;
    border: none;
    outline: none;
}

.textarea-small-right,
.textarea-small-left {
    width: calc(50% - 0.5rem);
    margin: 0.5rem 0rem;
}

.textarea {
    padding: 0;
    display: flex;
    justify-content: space-between;

}

.register-wrapper {
    padding: 10rem;
    padding-top: 11rem;
    display: flex;
    gap: 7rem;
    color: #959595;
    width: 100%;
}

.login {
    margin-left: 1.3rem;
    display: flex;
}

.name {
    width: 100%;
    margin-bottom: 0.5rem;
}


.textarea-small {
    display: flex;
    width: 50%;
}

.create-folder {
    font-size: 15px;
}

.at-max {
    font-size: 15px;
}

.sprint-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: start;
}

.drive-link input {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    background-color: #1a1635;
    padding: 1rem 1.5rem;
    color: #959595;
    border-radius: 5px;
    border: none;
    outline: none;
}

.back-create-navs {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.back-create-navs button {
    cursor: pointer;
    font-size: 15px;
    padding: 0.5rem 1.5rem;
    color: #959595;
    border-radius: 5px;
    border: none;
    outline: none;
}

.sprint-head {
    margin-left: 1.3rem;
}

.at-max {
    margin-left: 1.3rem;
}

.create-folder {
    margin-left: 1.3rem;
}

.input input,
.input select {
    max-width: 100%;
}

.textarea {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* Ensure full width is utilized */
}

@media (max-width : 800px) {


    .at-max {
        font-size: 13px;
    }

    .create-folder {
        font-size: 13px;
    }

    .join-sprint {
        text-align: center;
        font-size: 25px;
    }

    .sprint-moon {
        font-size: 55px;
    }

    .login {
        text-align: center;
        justify-content: center;
    }

    .register-wrapper {
        flex-direction: column-reverse;
        padding: 0;
        padding-top: 10rem;
        justify-content: center;
        align-items: center;
    }

    .sprint-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 92%;
        padding: 0;
    }

    .login {
        margin: 0;
    }

    .sprint-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .register-wrapper img {
        height: 350px;
    }

    .join-sprint {
        line-height: 0.8;
        width: 100%;
        text-align: center;
    }

    .sprint-head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    .back-create-navs {
        display: flex;
        justify-content: space-between;
    }

    .textarea {
        display: flex;
        gap: 1rem
    }

    .sprint-input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: fit-content;
        margin: 0;
    }
}




























.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9A8DEC;
    flex-wrap: wrap;
    padding: 1.8rem 0.5rem;
    margin-top: 1rem;
}

.footer-wrapper a {
    color: #fff;
    font-weight: 600;
}

.footer-wrapper .footer-skills {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
    width: 47%;
    color: #fff;
    font-weight: 500;
}

.footer-wrapper .footer-skills .footer-desc-ending {
    opacity: 0.6;
    margin-bottom: 2rem;
}

.footer-wrapper img {
    height: 45px;
}

.footer-links {
    display: flex;
    gap: 20px;
}



@media (max-width : 452px) {
    .navbar-wrapper {
        padding: 2rem 1rem;
    }

    .footer-skills {
        width: 90%;
    }

    .footer-desc-ending {
        width: fit-content;
    }



}

@media (max-width : 768px) {
    .footer-wrapper .footer-skills {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    .footer-wrapper {
        width: 100%;
    }
}